<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"  >
<mapper namespace="com.mybatis.dao.UsuarioDAO">
    
    <select id="VERIFICA_LOGIN" parameterType="com.mybatis.vo.Usuario" resultType="com.mybatis.vo.Usuario">
        select * from usuario where login=#{login} and password=#{password}
    </select>
    
    <select id="VERIFICA_LOGIN" parameterType="String" resultType="com.mybatis.vo.Usuario">
        select * from usuario where login=#{login}
    </select>

    <select id="ALL_USUARIOS"  resultType="com.mybatis.vo.Usuario">
        select * from usuario
    </select>
    
    <select id="GET_USER_BY_ID" parameterType="int" resultType="com.mybatis.vo.Usuario">
        select * from usuario where idusuario=#{idusuario}
    </select>

    <insert id="CREAR_USUARIO" parameterType="com.mybatis.vo.Usuario">
        insert into usuario (login, password, perfil, nombre, apellidos, idproveedor, departamento) Values (#{login}, #{password}, #{perfil}, #{nombre}, #{apellidos}, #{idproveedor}, #{departamento})        
    </insert>
    
    <update id="UPDATE_USUARIO" parameterType="com.mybatis.vo.Usuario">
        update usuario set login= #{login} , password=#{password}, perfil=#{perfil}, nombre=#{nombre}, apellidos=#{apellidos}, departamento= #{departamento} , idproveedor = #{idproveedor} where idusuario = #{idusuario}
    </update>
    
    <update id="DAR_BAJA_USUARIO" parameterType="com.mybatis.vo.Usuario">
        update usuario set estado = #{estado} where idusuario = #{idusuario}
    </update>
    
</mapper>
